account_id = "0000000000000000000000000000000f"
tunnel_id  = "00000000-0000-0000-0000-000000000000"
tunnel_name = "k3s"

# Zone name -> zone ID (dashboard, zone Overview, bottom right).
zones = {
  "alexraskin.com" = "0000000000000000000000000000000f"
}

ingress = [
  {
    hostname = "alexraskin.com"
    service  = "http://alexraskin-com.web.svc.cluster.local:80"
  },
  {
    hostname = "www.alexraskin.com"
    service  = "http://alexraskin-com.web.svc.cluster.local:80"
  },
  {
    hostname = "lastfm.alexraskin.com"
    service  = "http://lastfm-now-playing.lastfm.svc.cluster.local:80"
  },
]

cluster_dns_records = {
  # pve = {
  #   zone   = "<zone>"
  #   name   = "pve.lan<zone>"
  #   source = "pve_host"
  # }
  # k8s = {
  #   zone   = "<zone>"
  #   name   = "k8s.lan<zone>"
  #   source = "vip"
  # }
}
