CS2_SERVERNAME=mashallah
CS2_PORT=27015

# Steam game server login token: https://steamcommunity.com/dev/managegameservers
SRCDS_TOKEN=

CS2_RCONPW=

CS2_GAMETYPE=0
CS2_GAMEMODE=1
CS2_CHEATS=1

CS2_STARTMAP=de_dust2
CS2_MAPGROUP=mg_active

CS2_MAXPLAYERS=10
CS2_BOT_DIFFICULTY=2
CS2_BOT_QUOTA=0
CS2_BOT_QUOTA_MODE=fill

CS2_LAN=0

# Server join password
CS2_PW=

CS2_ADDITIONAL_ARGS=+sv_infinite_ammo 1 +mp_buy_anywhere 1 +mp_buytime 9999 +mp_freezetime 0 +mp_roundtime 60 +mp_roundtime_defuse 60 +mp_warmup_end +mp_startmoney 16000 +mp_maxmoney 16000 +sv_grenade_trajectory_prac_pipreview 1 +sv_showimpacts 1 +mp_restartgame 1
